h1 {
  display: inline;
  position: absolute;
  bottom: 0;
}

button {
  margin-top: 50px;
  display: block;
  align-self: center;
}

.container {
  padding: 10px;
  position: relative;
  text-align: center;
}

.peg {
  display: inline;
  float: left;
  text-align: center;
  padding: 5px;
  height: 300px;
}

.disk {
  display: block;
  margin: 0 auto;
  background-color: red;
  height: 20%;
  width: 40%;
  border: 2px solid black;
  clear: both;
}


#disk1 {
  width: 20%;
}

#disk2 {
  width: 30%;
}

#disk3 {
  width: 50%;
}

#disk4 {
  width: 70%;
}
