h1 {
  display: inline;
  position: relative;
  bottom: 0;
  padding-top: 20px;
}

button {
  margin-top: 50px;
  display: block;
  align-self: center;
}

.container {
  padding: 10px;
  position: relative;
  text-align: center;
}

.peg {
  display: inline;
  float: left;
  text-align: center;
  padding: 5px;
  height: 30%;
  display: flex;
  flex-direction: column-reverse;
}

.disk {
  position: relative;
  display: block;
  margin: 0 auto;
  background-color: red;
  height: 10%;
  width: 40%;
  border: 2px solid black;
}


#disk1 {
  width: 10%;
}

#disk2 {
  width: 20%;
}

#disk3 {
  width: 30%;
}

#disk4 {
  width: 40%;
}

#disk5 {
  width: 50%;
}
